<%= field_set_tag nil, class: 'media-items' do %>
  <div id="media-item-edm_isShownBy" class="nested_fields">
    <%= agg.simple_fields_for(:edm_isShownBy) do |web_resource| %>
      <%= render partial: '/campaigns/generic/field_sets/web_resource', locals: {
        web_resource: web_resource, number: 1, removable?: false, campaigning: campaigning,
        media_input_makes_required: '#media-item-edm_isShownBy .license-radios',
        media_cache_input_makes_required: '#media-item-edm_isShownBy .license-radios'
      } %>
    <% end %>
  </div>

  <%= agg.nested_fields_for(:edm_hasViews, wrapper_tag: :div, wrapper_options: { id: 'media-item-edm_hasView-__nested_field_for_replace_with_index__' }) do |web_resource| %>
    <% number = if agg.object.edm_hasViews.include?(web_resource.object)
                  agg.object.edm_hasViews.index(web_resource.object) + 2
                else
                  agg.object.edm_web_resources.size + 1
                end
    %>
    <%= render partial: '/campaigns/generic/field_sets/web_resource', locals: {
      web_resource: web_resource, number: number, removable?: true, campaigning: campaigning,
      media_input_makes_required: '#media-item-edm_hasView-__nested_field_for_replace_with_index__ .license-radios',
      media_cache_input_makes_required: '#media-item-edm_hasView-__nested_field_for_replace_with_index__ .license-radios'
    } %>
  <% end %>
  <%= agg.add_nested_fields_link(:edm_hasViews, campaigning.t('buttons.object.add')) %>
<% end %>
